h1{
    color:pink;
}

.first {
    font-weight: bold;
    outline: 2px solid blue;
    padding: 10px;
    margin: 5px;
}

#box{
    background-color: lightgreen;
    padding: 20px;
}

#title{
    background-color: lightseagreen;
    padding: 50px 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}